<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Model Test Report</title>
  </head>
  <body>
    <h1><%= date %></h1>
    <div>
      <% images.forEach(function(image) { %>
      <span><%= image.path %></span>

      <% }); %>
    </div>
  </body>
</html>
